* {
    margin: 0;
    font-family: Merriweather , sans-serif;
}

body {
    width: 100%;
    background-color: #ededed;
}

.navegador {
    backdrop-filter: blur(5px);
    background: #fff;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #333;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
}

.contenido {
    background-color: #ededed;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.enlaces:hover {
    background-color: #fff5;
}

.enlaces {
    padding: 30px;
    color: #222;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 20px 3px #777;
    transition: all 0.5s;
}

.logo {
    width: 200px;
    height:100px;
    object-fit: cover;
}

.titulos {
    position: relative;
    top: 20%;
    margin: auto;
    padding: 5%;
    border-radius: 10px;
    width: min-content;
    background-color: #48e;
    animation: titulo 5s infinite;
}

@keyframes titulo {
    0% {
        background-color: #48e3;
    }

    25% {
        background-color: #40c3;
    }

    50% {
        background-color: #f583;
    }

    75% {
        background-color: #cf13;
    }

    100% {
        background-color: #48e3;
    }
}
.title {
    color: #222;
    text-align: center;
    padding-bottom: 20px;
    font-size: 60px;
    margin: 0;
}

.titledown {
    text-align: center;
    margin-bottom: 30px;
    color: #222;
}


/*----------------------SLIDER---------------------*/

.contslider {
	overflow: hidden;
	width: 60%;
	margin:  auto;
    margin-bottom: 100px;
	border-radius: 5px;
    border-bottom: 1px solid #333;
	position: relative; 
}

.slider {
	display: flex;
	width: 550%;
	height: 100%;
	margin-left: -115%;
}

.sld-img {
	display: block;
	object-fit: cover;	
	width: 100%;
    height: 550px;
}

.slid-img {
	width: 100%;
}

.boton-right {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
    left: 95%;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
    color: #eee;
}

.boton-left {  
	position: absolute;	
	width: 40px;
	height: 40px;
	top: 50%;
	right: 95%;
	border-radius: 50%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: monospace;
	cursor: pointer;
	color: #eee;
}

.boton-left:hover {
	color: #555;	
}
.boton-right:hover {
	color: #555;
}

/*--------------INFORMACION---------------*/

.conteiner-info {
    border-top: 1px solid #111;
    height: min-content;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ededed;
    height: 550px;
    border-bottom: 1px solid #333;
    padding-bottom: 100px;
}

.titulo {
    color: #222;
    position: absolute;
    left: 40%;
    padding: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    transform: translate(-200px);
    opacity: 0;
    padding: 100px 0 100px 0;
}

hr {
    visibility: hidden;
}

.info-up {
    transform: none;
    opacity: 1;
}


.impresora {
    width: 400px;
    margin-top: 50px;
}

.texto {
    padding: 100px 0;
    color: #222;
}


/*---------------------------menus---------------------------*/

.menuizq {
    height: 100vh;
    width: 200px;
    background-color: #222;
    top: 80px;
    position: fixed;
    transform: translate(-200px);
    z-index: 1001;
}

.categorias {
    padding: 0;
    color: #D8D8D8;
}

.formas {
    list-style: none;
    padding: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.formas:hover  {
    background-color: #555;
}

.redes:hover {
    background-color: #555;
}

.links-redes {
    text-decoration: none;
    color: #D8D8D8;
}

.links-redes:hover {
    color: #f4f4f4;
}

.mostrar {
    transform: none;
}

.contact {
    margin-top: 20px;
    font-size: 20px;
}

.lista {
    padding: 0;
    cursor: pointer;
}

.redes {
    list-style: none;
    text-align: center;
    padding: 30px;
    transition: all 0.5s;
}

.menuder {
    height: 100vh;
    width: 200px;
    background-color: #222;
    top: 80px;
    position: fixed;
    right: 0;
    text-align: center;
    color: #f4f4f4;
    transform: translate(200px);
    z-index: 1002;
}

.mostrar2 {
    transform: none;
}

/*---------------------galery-----------------------*/

.centrar {
    background-color: #ededed;
}

.conteiner-galeria {
    width: 60%;
    margin: auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    object-fit: cover;
}


.container {
    position: relative;
    width: 100%;
    transform: translatey(100px);
    opacity: 0;
}

.container-vis {
    transform: none;
    opacity: 1;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 350px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 20%;
}

.container:hover .image {
    opacity: 0.8;
    transform: scale(1.02);
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
}

/*--------------------------footer------------*/
@media screen and (max-width:750px){
    .contslider {
        width: 100%;
    }
}

@media screen and (max-width:450px){
    
    .impresora {
        width: 300px;
    }

    .conteiner-galeria {
        margin: 25px;
    }

    .titulo {
        left: 20%;
    }

    .impresora {
        width: 200px;
    }

    .texto {
        padding: 0;
        margin-top: 50px;
        width: 200px;
    }
}
